HELP.md
logs/
!**/src/main/**
!**/src/test/**

### Build Tools ###
target/
!.mvn/wrapper/maven-wrapper.jar
build/
!gradle/wrapper/gradle-wrapper.jar
/out

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### MacOS ###
.DS_Store

### Maven Plugins ###
.flattened-pom.xml

### Sonar ###
.scannerwork/

### Apollo ###
apollo-cache/

### JRebel ###
rebel.xml